/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.autofill-text {
    -fx-skin: "np.com.ngopal.control.AutoFillTextBoxSkin";
}
.autofill-text {
    -fx-skin: "np.com.ngopal.control.AutoFillTextBoxSkin";
}
.cmt {
	-fx-font-size: 1.2em;
	-fx-background-radius: 3;
	-fx-background-color: lightgray;
	-fx-fill: red;
}

.user {
	-fx-font-size: 0.9em;
	-fx-font-style: italic;
	/*   -fx-background-color:#d3d3d3;*/
}

.box {
	-fx-background-color: #FFFFFF;
}